:root {
  --spacing-xx-small: var(--size-2);
  --spacing-x-small: var(--size-4);
  --spacing-small: var(--size-8);
  --spacing-medium: var(--size-16);
  --spacing-large: var(--size-24);
  --spacing-x-large: var(--size-32);
  --spacing-xx-large: var(--size-40);
  --spacing-xxx-large: var(--size-48);
  --spacing-xxxx-large: var(--size-64);
}
