:root {
  --palette-black-main: #090E26;
  --palette-black-600: #272B40;
  --palette-black-500: #6B6E7D;
  --palette-black-400: #9D9FA8;
  --palette-black-300: #DDDDE1;
  --palette-black-200: #E9E9EB;
  --palette-black-100: #F3F3F4;
}
