:root {
  --palette-blue-800: #125386;
  --palette-blue-700: #176BAD;
  --palette-blue-main: #2196F3;
  --palette-blue-600: #3CA3F4;
  --palette-blue-500: #7AC0F8;
  --palette-blue-400: #A6D5FA;
  --palette-blue-300: #E0F0FD;
  --palette-blue-200: #EBF6FE;
  --palette-blue-100: #F4FAFE;
}
