:root {
  --palette-green-800: #285739;
  --palette-green-700: #34714A;
  --palette-green-main: #499F68;
  --palette-green-600: #5FAB7A;
  --palette-green-500: #92C5A4;
  --palette-green-400: #B6D9C3;
  --palette-green-300: #E6F2EA;
  --palette-green-200: #EFF6F1;
  --palette-green-100: #F6FAF7;
}
