:root {
  --palette-red-800: rgba(118, 21, 31, 1);
  --palette-red-700: rgba(153, 27, 40, 1);
  --palette-red-main: rgba(215, 38, 56, 1);
  --palette-red-600: rgba(215, 38, 56, 0.88);
  --palette-red-500: rgba(215, 38, 56, 0.6);
  --palette-red-400: rgba(215, 38, 56, 0.4);
  --palette-red-300: rgba(215, 38, 56, 0.14);
  --palette-red-200: rgba(215, 38, 56, 0.09);
  --palette-red-100: rgba(215, 38, 56, 0.05);
}
