:root {
  --palette-yellow-800: rgba(136, 100, 31, 1);
  --palette-yellow-700: rgba(175, 129, 40, 1);
  --palette-yellow-main: rgba(247, 181, 56, 1);
  --palette-yellow-600: rgba(247, 181, 56, 0.88);
  --palette-yellow-500: rgba(247, 181, 56, 0.6);
  --palette-yellow-400: rgba(247, 181, 56, 0.4);
  --palette-yellow-300: rgba(247, 181, 56, 0.14);
  --palette-yellow-200: rgba(247, 181, 56, 0.09);
  --palette-yellow-100: rgba(247, 181, 56, 0.05);
}
