/* stylelint-disable property-no-vendor-prefix */
@mixin icon($iconName, $spriteName: 'default-mono', $type: 'before') {
  &::#{$type} {
    display: inline-block;
    content: '';

    @if str-index($spriteName, 'mono') {
      background-color: currentcolor;
      -webkit-mask-image: url('../images/sprite-#{$spriteName}.svg##{$iconName}');
      mask-image: url('../images/sprite-#{$spriteName}.svg##{$iconName}');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: cover;
      mask-size: cover;
    } @else {
      background-color: transparent;
      background-image: url('../images/sprite-#{$spriteName}.svg##{$iconName}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @content;
  }
}
